/* Testimonial */
.testimonial-section {
  /* padding: 112px 84.3px; */
  /* gap: 80px; */
  background-color: var(--bg-shade);
}

.testimonial-section__card {
  display: flex;
  padding: 42.6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 42.6px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1.33px solid #006b6a;
}

.testimonial-section__card-reviews {
  display: flex;
  align-items: flex-start;
  gap: 5.33px;
}

.testimonial-section__card-author-detail {
  display: flex;
  align-items: center;
  gap: 21.3px;
}

.testimonial-author-name {
  font-weight: 600;
  color: var(--heading-color);
}

.testimonial-author-designation {
  color: var(--darkblue);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
/* Testimonial Ends */

/* Responsive Screens */
@media only screen and (max-width: 1800px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1200px) {
  .testimonial-section {
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .testimonial-section__card {
    padding: 25px;
  }
}

@media screen and (max-width: 1200px) {
}
