/* Hero Section Style */
.hero-section {
  gap: 32px;
  background-color: var(--bg-shade);
}

.hero-section__content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.hero-section__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.333px;
}

.hero-section__content-box > button {
  margin-top: 21.333px;
}

.section-heading-hero {
  font-size: 74.667px;
  line-height: 90px;
  align-self: stretch;
}

.section-heading-hero > span {
  color: var(--primary-color);
}

.hero-section__description {
  color: var(--darkblue);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.hero-section__img {
  display: flex;
}

.hero-section__img > img {
  width: 100%;
  height: 100%;
}
/* Hero Section Style Ends */

/* Responsive Screens */
@media only screen and (max-width: 1800px) {
  .hero-section__title {
    font-size: 68px;
    line-height: 70px;
  }
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1200px) {
  .hero-section {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 70px;
  }
  .hero-section__title,
  .hero-section__description {
    text-align: center;
  }

  .hero-section__title {
    font-size: 35px;
    line-height: 40px;
  }
  .hero-section__content-box {
    gap: 10px;
  }

  .hero-section__content,
  .hero-section__content-box {
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
}
